@import url('https://fonts.googleapis.com/css?family=Heebo|Merriweather+Sans|Port+Lligat+Sans&display=swap');
/*
font-family: 'Heebo', sans-serif;
font-family: 'Port Lligat Sans', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
*/

* {
    margin:0;
    padding: 0;
}

/* Header Styles */
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header nav:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-family:'Heebo', sans-serif;
    font-size: 14px;
    height: 30px;
}

header nav:first-child ul,
header nav:nth-child(2) ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin:0 20px;
}

header nav:first-child li,
header nav:nth-child(2) li {
    margin-right: 10px;
}

header a, header i {
    text-decoration: none;
    color: grey;
}

header nav:first-child a:hover {
    color: white;
}

header nav:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-family: 'Port Lligat Sans', sans-serif;
    font-size: 14px;
    height: 45px;
    font-weight: 700;
}

header nav:nth-child(2) a:hover {
    color: black;
}

header button {
    padding: 15px;
    background-color: transparent;
    border: none;
    border-left: 1px solid lightgrey;
}

header>div {
    background-color: #ffdd33;
    font-family:'Heebo', sans-serif;
    font-size: 12px;
    padding:5px 20px;
}

/* Main Grid Styles */
main{
    padding-top: 105px;
}
article {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
}

article > div:nth-child(1){
    grid-row:1/3;
    background: url(./images/water-crossing.jpg);
    height:450px;
}

article > div:nth-child(2){
    background: url(./images/calories.png);
    height:220px;
}

article > div:nth-child(3){
    background:url(./images/china-malware.jpg);
    height:220px;
}

article a, article i {
    text-decoration: none;
    color: grey;
}

article a:hover {
    color: white;
}

/* Latest News Grid */
.latest {
    margin: 100px;
}

.news-grid, .deals-grid {
    display: grid;
    grid-template: repeat(2,1fr)/repeat(4,1fr);
    grid-gap: 10px;
}

.news-grid div, .deals-grid div {
    height: 200px;
    background-color: aqua;
}

/* Microsoft Grid */
.microsoft-grid, .funding-grid {
    display: grid;
    grid-template: repeat(1,1fr)/repeat(4,1fr);
    grid-gap: 10px;
}

.microsoft-grid div, .funding-grid div {
    height: 200px;
    background-color: pink;
}

.funding-grid div {
    height: 200px;
    background-color: red;
}

/* popular Grid */
.popular-grid {
    display: grid;
    grid-template: repeat(3,1fr)/repeat(3,1fr);
    grid-gap: 10px;
}

.popular-grid div {
    height: 400px;
    background-color: violet;
}

footer nav {
    background-color: gray;
    color: white
}

footer p {
    background-color: black;
    color: white;
}

/* -------------------
     Media Queries 
---------------------- */   
@media  screen and (max-width: 1024px) {

    article {
        grid-template-columns: 2fr 1fr;
    }

    .news-grid, .deals-grid {
        grid-template: repeat(3,1fr)/repeat(3,1fr);
    }

    .microsoft-grid, .funding-grid {
        grid-template: repeat(2,1fr)/repeat(3,1fr);
    }

    .funding-grid {
        display: none;
    }

    .funding-grid > div:nth-child(4){
         visibility: hidden;
    }

    .popular-grid {
        grid-template: repeat(4,1fr)/repeat(2,1fr);
    }
}   

@media screen and (max-width: 768px) {

    article {
        grid-template-columns: 1fr;
    }

    .news-grid, .deals-grid {
        grid-template-columns: 1fr;
    }

    .microsoft-grid, .funding-grid {
        grid-template-columns: 1fr;
    }

    .funding-grid {
        grid-template-columns: 1fr;
    }

    .funding-grid > div:nth-child(4){
         visibility: hidden;
    }

    .popular-grid {
        grid-template-columns: 1fr;
    }
}